.list-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-pref-width: 0;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:vertical .thumb,
.list-view .scroll-bar:vertical .track {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-shape: "";
    -fx-max-height: 0;
    -fx-pref-height: 0;
}
